# Replace with your DB credentials!
# DATABASE_URL="postgresql://neondb_owner:npg_zfgN7RKWGeT8@ep-summer-shadow-a881zv22-pooler.eastus2.azure.neon.tech/neondb?sslmode=require"
# PUBLIC_BASE_URL="http://localhost:5173"

# GITHUB_CLIENT_ID=Ov23liTbJZuX5AuTU6NV
# GITHUB_CLIENT_SECRET=4cd9e422224c38cec3af9b1a6076e210cdd03a58

# BETTER_AUTH_SECRET=B35zm12Ofi85XlqdfhZjumOH9PlmQ0v5